.card{
    position: relative;
}

.card img{
    width: 170px;
    height: 170px;
    width: 100%;
    display: block;
    border: 2px solid var(--white);
    border-radius: 6px;
    cursor: pointer;
}

.card img:hover{
    transform:scale(1.1);
    transition: 0.3s ease-in-out;
}

/* front of the card - the picture */

/* the picture is hidden because card is not flipped */
.card .front{
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

/* but when flipped, card is rotated back to front */

.flipped .front{
    transform: rotateY(0deg);
    /* If want to see it in action, uncomment transition */
    transition-delay: 0.2s;
}

/* back of the card - the picture */

/* the picture is hidden because card is not flipped */
.card .back{
    transition-delay: 0.2s;
    transition: all ease-in 0.2s;
}

/* but when flipped, card is rotated back to back */

.flipped .back{
    transform: rotateY(90deg);
    /* If want to see it in action, uncomment transition */
    transition-delay: 0s;
}