.Display{
    text-align: center;
    padding: 20px;
    flex: 3;
    border-top: 1px solid lightgrey;
}

.Display li{
    height: 70px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Display li p{
    flex: 3;
}

.Display li .button button{
    flex: 1;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    background-color: none;
    padding: 5px;
    cursor: pointer;
}
