.header{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}


.links{
    display: flex;
}

.links a{
    text-decoration: none;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: bold;
};

.logo a{
    text-decoration: none;
}
