*{
    margin: 0;
    padding: 0;
}

.App{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-form button, .task-form input{
    margin-top: 10px;
}